# Wazuh AMI Customizer Service - Used to customize the Wazuh AMI with custom certificates and passwords
# Copyright (C) 2015, Wazuh Inc.
#
# This program is a free software; you can redistribute it
# and/or modify it under the terms of the GNU General Public
# License (version 2) as published by the FSF - Free Software
# Foundation.
#

[Unit]
Description=Creates custom certificates and passwords for Wazuh AMI
Wants=wazuh-ami-customizer.timer

[Service]
Type=oneshot
ExecStart=/etc/.wazuh-ami-customizer.sh

[Install]
WantedBy=multi-user.target
