# Wazuh AMI Customizer Service - Used to customize the Wazuh AMI with custom certificates and passwords
# Copyright (C) 2015, Wazuh Inc.
#
# This program is a free software; you can redistribute it
# and/or modify it under the terms of the GNU General Public
# License (version 2) as published by the FSF - Free Software
# Foundation.
#

[Unit]
Description=Creates custom certificates and passwords for Wazuh AMI
Wants=wazuh-ami-customizer.timer
Before=wazuh-indexer.service
Before=wazuh-manager.service
Before=filebeat.service
Before=wazuh-dashboard.service

[Service]
Type=oneshot
ExecStart=/etc/.wazuh-ami-customizer.sh
ExecStartPost=/bin/systemctl restart wazuh-indexer.service
ExecStartPost=/bin/systemctl restart wazuh-manager.service
ExecStartPost=/bin/systemctl restart filebeat.service
ExecStartPost=/bin/systemctl restart wazuh-dashboard.service

[Install]
WantedBy=multi-user.target
