run-name: Build OVA ${{ inputs.id }} ${{ inputs.is_stage && ' - is stage' || '' }}${{ inputs.checksum && ' - checksum' || '' }} - Branch ${{ github.ref_name }} - Launched by @${{ github.actor }}
name: Build OVA

on:
  workflow_dispatch:
    inputs:
      process:
        description: 'Process type'
        required: true
        type: choice
        options:
          - build_ova
          - build_ami
          - build_docker
          - test_assistant
          - test_ova
          - test_docker
          - test_ansible
          - test_kubernetes
      wazuh_major:
        description: 'Wazuh major version'
        required: true
        default: '5'
      wazuh_version:
        description: 'Wazuh version'
        required: true
        default: '5.0.0'

jobs:
  sign-artifact-urls:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_IAM_OVA_ROLE }}
          role-session-name: "OVA-Builder"
          aws-region: "us-east-1"
          role-duration-seconds: 18000
      
      - name: Generate presigned URLs
        id: sign-dev-artifact-urls
        uses: wazuh/wazuh-automation/.github/actions/sign-dev-artifact-urls@enhancement/2988-url-presigned-file-migrate-the-signing-script-and-adapt-it
        with:
          process: ${{ inputs.process }}
          wazuh_major: ${{ inputs.wazuh_major }}
          wazuh_version: ${{ inputs.wazuh_version }}
          aws_s3_bucket_dev: ${{ vars.AWS_S3_BUCKET_DEV }}
      
      - name: Display generated file
        run: |
          echo "Generated file: ${{ steps.sign-dev-artifact-urls.outputs.artifact_urls_file }}"
          echo "Content:"
          cat ${{ steps.sign-dev-artifact-urls.outputs.artifact_urls_file }}
      
      - name: Upload signed URLs as artifact
        uses: actions/upload-artifact@v4
        with:
          name: signed-artifact-urls-${{ inputs.process }}
          path: ${{ steps.sign-dev-artifact-urls.outputs.artifact_urls_file }}
